*
{
  margin: 0;
  padding: 0;
}

header
{
  background-image: url(gmail.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
 
 h1
 {
 color: white; }
 p {
   color: white;
 }
